In [1]:
import geopandas as gpd
import numpy as np 
import pandas

In [3]:
# with rasterio open tif image corresponding to the above

import rasterio
hillshade_tif = rasterio.open("/Users/nadja/Documents/UU/Thesis/Data/hillshade_758_65_5075.tif")
height_tif = rasterio.open("/Users/nadja/Documents/UU/Thesis/Data/DEM_1m/758_65_5075_2010.tif")

In [4]:
for i,j in zip(hillshade_tif.bounds, height_tif.bounds):
    print(i,j)

657500.0 657500.0
7585000.0 7585000.0
660000.0 660000.0
7587500.0 7587500.0

In [10]:
hillshade_tif[100]

TypeError: 'DatasetReader' object is not subscriptable

In [8]:
height_tif[100]

(2500, 2500)

In [16]:
hillshade_tif.read()[0].shape

(2500, 2500)

In [17]:
hillshade_df = pandas.DataFrame(hillshade_tif.read()[0])
height_df = pandas.DataFrame(height_tif.read()[0])

In [18]:
hillshade_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,197,198,195,190,188,191,198,205,200,...,195,196,194,196,195,186,192,196,187,0
2,0,198,193,194,190,185,188,196,204,200,...,202,201,196,200,198,181,187,192,182,0
3,0,189,183,188,187,184,192,203,209,198,...,203,193,183,186,184,177,187,186,168,0
4,0,175,167,178,185,186,193,204,210,191,...,196,176,174,182,182,180,184,182,175,0

In [19]:
height_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,344.390015,344.380005,344.380005,344.540009,344.570007,344.640015,344.570007,344.589996,344.660004,344.809998,...,383.720001,383.720001,383.859985,383.880005,384.019989,383.929993,383.940002,384.000000,384.220001,384.140015
1,344.350006,344.429993,344.500000,344.570007,344.619995,344.660004,344.700012,344.739990,344.779999,344.899994,...,383.790009,383.820007,383.859985,383.880005,383.970001,384.019989,384.010010,384.049988,384.109985,384.149994
2,344.589996,344.600006,344.589996,344.630005,344.660004,344.670013,344.709991,344.769989,344.910004,345.019989,...,383.950012,383.899994,384.000000,383.959991,384.179993,384.070007,384.019989,384.179993,384.170013,384.149994
3,344.609985,344.709991,344.660004,344.670013,344.769989,344.690002,344.690002,344.820007,344.950012,345.130005,...,384.019989,384.140015,384.130005,384.029999,384.170013,384.140015,384.049988,384.089996,384.179993,384.049988
4,344.489990,344.720001,344.690002,344.619995,344.730011,344.750000,344.769989,344.859985,345.130005,345.260010,...,384.089996,384.089996,384.049988,384.029999,384.059998,384.089996,384.170013,384.179993,384.059998,383.950012

In [33]:
hillshade_df.to_numpy().flatten().std()

18.201949734756102

In [34]:
height_df.to_numpy().flatten().std()

47.384888