In [1]:
import pandas as pd
filename = '/Users/nadja/Documents/1. Project/Thesis/Permafrost-Segmentation/Supervised_dataset/orig_palsa_labels.csv'

# Get all image filenames without extension
dataframe = pd.read_csv(
    filename, 
    names=['filename', 'palsa'], 
    header=0
    )

dataframe = dataframe.loc[dataframe['palsa']>0]
dataframe = dataframe[~dataframe['filename'].str.endswith('aug')]

sampled_dataframe = dataframe.sample(frac=0.15, random_state=42)
average_palsa = sampled_dataframe['palsa'].mean()
print(f"Average 'palsa' of the sampled rows: {average_palsa}")

Average 'palsa' of the sampled rows: 8.22362385321101

In [13]:
import pandas as pd 

file = "/Users/nadja/Documents/UU/Thesis/Data/orig_palsa_labels.csv"
labels = pd.read_csv(file, header = 0, names = ['image', 'palsa_percentage'])

In [16]:
len(labels[labels['palsa_percentage']==0])

10267

>10 = 2868
0 = 10267

n_samples = 13135
weights = [1.28,4.60]

In [20]:
13135/10267

1.279341579818837

In [4]:
# Use str.endswith() to create a boolean mask
mask = labels['image'].str.endswith('_aug')

# Apply the mask to keep only rows where the condition is True
labels = labels[~mask]

# Reset the index if needed
labels = labels.reset_index(drop=True)

In [5]:
labels

                             image  palsa_percentage
0         760_73_5025_2018_crop_14              7.25
1         760_73_5025_2018_crop_15              0.75
2         760_73_5025_2018_crop_16              3.25
3         760_73_5025_2018_crop_17              1.50
4         760_73_5025_2018_crop_18              7.50
...                            ...               ...
14581   763_72_2550_2018_negcrop_6              0.00
14582   763_72_2550_2018_negcrop_7              0.00
14583   763_72_2550_2018_negcrop_8              0.00
14584   763_72_2550_2018_negcrop_9              0.00
14585  763_72_2550_2018_negcrop_10              0.00

[14586 rows x 2 columns]

In [22]:
len(labels)

14586

In [11]:
len(labels[labels['palsa_percentage']>=10])

1434

In [12]:
1434 +8771

10205

In [4]:
def nearest_10(num):
    if num<10:
        return 0
    else: 
        return int(str(num)[0])*10

In [5]:
labels['nearest10'] = labels['palsa_percentage'].apply(nearest_10)

In [6]:
labels['nearest10'].value_counts()

nearest10
0     19029
10     1534
20      664
30      358
40      180
50       86
60       34
70        8
80        4
Name: count, dtype: int64

In [8]:
nozero = labels.loc[labels['palsa_percentage']>0]

In [9]:
nozero

                          Unnamed: 0  palsa_percentage  nearest10
0           760_73_5025_2018_crop_14              7.25          0
1           760_73_5025_2018_crop_15              0.75          0
2           760_73_5025_2018_crop_16              3.25          0
3           760_73_5025_2018_crop_17              1.50          0
4           760_73_5025_2018_crop_18              7.50          0
...                              ...               ...        ...
21891   763_72_2550_2018_crop_80_aug              6.50          0
21893   763_72_2550_2018_crop_93_aug              7.25          0
21894   763_72_2550_2018_crop_94_aug              2.50          0
21895  763_72_2550_2018_crop_104_aug              5.00          0
21896  763_72_2550_2018_crop_105_aug              0.75          0

[11630 rows x 3 columns]

In [10]:
nozero['nearest10'] = nozero['palsa_percentage'].apply(nearest_10)

/var/folders/wm/j23cgbjn0m15n_64hfkt3n500000gn/T/ipykernel_25757/1831171057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nozero['nearest10'] = nozero['palsa_percentage'].apply(nearest_10)

In [11]:
nozero['nearest10'].value_counts()

nearest10
0     8762
10    1534
20     664
30     358
40     180
50      86
60      34
70       8
80       4
Name: count, dtype: int64

In [12]:
8762/11630

0.753396388650043

In [1]:
import pandas as pd 

files = pd.read_csv("/Users/nadja/Documents/UU/Thesis/Data/FINALFINAL_200m_groundtruths/new_palsa_labels.csv")

In [2]:
files.head()

                 Unnamed: 0  palsa_percentage  matthias_percentage  difference
0   757_69_5050_2014_crop_3              1.50               1.6100      0.1100
1   757_69_5050_2014_crop_4              1.75               4.1225      2.3725
2  757_69_5050_2014_crop_15              2.25               1.7400      0.5100
3  757_69_5050_2014_crop_16              8.50               3.4075      5.0925
4  757_69_5050_2014_crop_17              2.50               3.5725      1.0725

In [2]:
len(files[files['difference']<10])

620

In [4]:
sum(files['matthias_percentage'])

2042.7375

In [5]:
len(files)

640

In [11]:
41/640

0.0640625

In [12]:
len(files[files["palsa_percentage"]!=0])

187

In [10]:
sum(files[files["palsa_percentage"]!=0]['matthias_percentage'])

2042.1425000000002

In [13]:
640/187

3.4224598930481283

In [2]:
import pandas as pd
orig_files = pd.read_csv("/home/nadjaflechner/Palsa_data/generated_datasets/Verified_GTs/new_palsa_labels.csv")

In [3]:
orig_files.head()

                 Unnamed: 0  palsa_percentage  matthias_percentage  difference
0  757_69_5050_2014_crop_25              1.50               1.3950      0.1050
1  757_69_5050_2014_crop_26              0.50               0.0500      0.4500
2  757_69_5050_2014_crop_30              3.00               2.7900      0.2100
3  753_67_2550_2014_crop_36              1.25               0.0725      1.1775
4  753_67_2550_2014_crop_50              2.75               0.5700      2.1800

In [6]:
len(orig_files[orig_files['matthias_percentage'] >0])

111

Making Test/Train split of the GTs

In [9]:
import pandas as pd 

names = pd.read_csv("/Volumes/USB/Ground_truth/Verified_GTs/new_palsa_labels.csv", header=1, names=['filename','palsa_percentage', 'matthias', 'diff'])

In [10]:
names.head()

                   filename  palsa_percentage  matthias    diff
0  757_69_5050_2014_crop_26              0.50    0.0500  0.4500
1  757_69_5050_2014_crop_30              3.00    2.7900  0.2100
2  753_67_2550_2014_crop_36              1.25    0.0725  1.1775
3  753_67_2550_2014_crop_50              2.75    0.5700  2.1800
4  753_67_2550_2014_crop_51             41.50   37.9500  3.5500

In [11]:
filtered_names = names[names['palsa_percentage'] > 0]

In [23]:
above7 = filtered_names[filtered_names['palsa_percentage']>7]

In [25]:
train_set = above7.sample(frac=0.6, random_state=42)
test_set = above7.drop(train_set.index)

remaining = filtered_names[~filtered_names.index.isin(above7.index)]
remaining_train = remaining.sample(frac=0.6, random_state=42)
train_set = pd.concat([train_set, remaining_train])
test_set = pd.concat([test_set, remaining.drop(remaining_train.index)])

len(train_set), len(test_set)

(64, 42)

In [27]:
train_set.head()

                    filename  palsa_percentage  matthias    diff
35  757_69_2575_2014_crop_14             14.50   20.1650  5.6650
32  760_74_5025_2018_crop_48             22.75   28.4775  5.7275
31  760_74_5025_2018_crop_37             25.00   31.6725  6.6725
49  764_75_2500_2015_crop_78             16.75   21.7150  4.9650
10  753_67_2550_2014_crop_86             22.75   19.3975  3.3525

In [26]:
all_GT_path = "/Volumes/USB/Ground_truth/All_GTs"
train_GT_path = "/Volumes/USB/Ground_truth/Optimize_GTs"
test_GT_path = "/Volumes/USB/Ground_truth/TEST_GTs"

import os
import shutil

# Define the subfolders
subfolders = ['hs', 'rgb', 'dem', 'groundtruth_mask']

# Create train and test directories and copy files
for subfolder in subfolders:
    # Create the full paths for train and test directories
    train_subfolder_path = os.path.join(train_GT_path, subfolder)
    test_subfolder_path = os.path.join(test_GT_path, subfolder)
    
    # Create the directories if they do not exist
    os.makedirs(train_subfolder_path, exist_ok=True)
    os.makedirs(test_subfolder_path, exist_ok=True)
    
    # Copy train set files
    for _, row in train_set.iterrows():
        src_file = os.path.join(all_GT_path, subfolder, row['filename'] + '.tif')
        dst_file = os.path.join(train_subfolder_path, row['filename'] + '.tif')
        shutil.copy(src_file, dst_file)
    
    # Copy test set files
    for _, row in test_set.iterrows():
        src_file = os.path.join(all_GT_path, subfolder, row['filename'] + '.tif')
        dst_file = os.path.join(test_subfolder_path, row['filename'] + '.tif')
        shutil.copy(src_file, dst_file)

In [28]:
train_set.to_csv(os.path.join(train_GT_path, 'palsa_labels.csv'), index=False)
test_set.to_csv(os.path.join(test_GT_path, 'palsa_labels.csv'), index=False)