In [1]:
import pandas as pd

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d, index=[0,1])
d1 = {'col1': [3, 3], 'col2': [3, 4]}
df1 = pd.DataFrame(data=d1, index=[2,3])

In [9]:
combined = pd.concat([df, df1])

In [10]:
train_df = combined.sample(2)
val_df = combined.drop(train_df.index)

In [11]:
train_df

   col1  col2
2     3     3
0     1     3

In [12]:
val_df

   col1  col2
1     2     4
3     3     4

In [13]:
pd.concat([train_df, val_df
        ])

   col1  col2
2     3     3
0     1     3
1     2     4
3     3     4

In [1]:
import os
for configsfile in os.listdir(os.path.join(os.getcwd(), 'configs_long_gridsearch/')):
    print(configsfile)

configs1.json
configs2.json